workflows/n8n_document_ingest.json
{
  "name": "Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "path": "helpdesk-ingest",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "filePath": "/data/docs/*.md"
      },
      "id": "ReadDocs",
      "name": "Read Docs",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "functionCode": "const itemsOut = [];\nfor (const item of items) {\n  const b = item.binary?.data;\n  if (!b?.data) continue;\n\n  const text = Buffer.from(b.data, 'base64').toString('utf8');\n  const title = (b.fileName || 'doc').replace('.md','');\n  const isRestricted = title.toLowerCase().startsWith('hr_');\n  const allowed_roles = isRestricted ? 'admin' : 'employee,it_agent,admin';\n  const path = b.filePath || b.fileName || title;\n\n  const chunks = text.split(/\n\n+/).filter(Boolean);\n  chunks.forEach((chunk, idx) => {\n    itemsOut.push({\n      json: {\n        title,\n        path,\n        allowed_roles,\n        chunk_id: `${title}-${idx + 1}` ,\n        text: chunk.trim()\n      }\n    });\n  });\n}\nreturn itemsOut;"
      },
      "id": "Chunk",
      "name": "Chunk Docs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/embed",
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify({ texts: [$json.text] }) }}"
      },
      "id": "Embed",
      "name": "Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.QDRANT_URL }}/collections/{{ $env.QDRANT_COLLECTION }}/points?wait=true",
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify({ points: [{ id: $randomUUID(), vector: $json.vectors[0], payload: { title: $json.title, chunk_id: $json.chunk_id, text: $json.text, allowed_roles: $json.allowed_roles, path: $json.path } }] }) }}",
        "headerParametersJson": "={{ JSON.stringify({ 'api-key': $env.QDRANT_API_KEY, 'Content-Type': 'application/json' }) }}"
      },
      "id": "Qdrant",
      "name": "Upsert Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents(title, path, allowed_roles) VALUES('{{ $json.title }}','{{ $json.path }}','{{ $json.allowed_roles }}');"
      },
      "id": "Postgres",
      "name": "Insert Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "helpdesk-postgres",
          "name": "helpdesk-postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read Docs", "type": "main", "index": 0 }]]
    },
    "Read Docs": {
      "main": [[{ "node": "Chunk Docs", "type": "main", "index": 0 }]]
    },
    "Chunk Docs": {
      "main": [[{ "node": "Embed", "type": "main", "index": 0 }]]
    },
    "Embed": {
      "main": [[{ "node": "Upsert Qdrant", "type": "main", "index": 0 }]]
    },
    "Upsert Qdrant": {
      "main": [[{ "node": "Insert Document", "type": "main", "index": 0 }]]
    }
  }
}
